/* App.js */
.app_js{
  margin: 0px auto;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  background-image: url('../src/images/back.JPG');
  background-size: cover;
}
header{
  background:#f58002;
  height:10vh;
}
.header-container{
  padding-left:5vh;
  color:#FFFFFF;
  display:flex;
  margin:0 auto;
  max-width: 1240px;
}
.logos{
  width:10vh;
  height:10vh;
  border-radius:50%;
}
.images{
  border-radius:50%;
}
.main-header{
 line-height:10px;
 padding-left:20px;
}
main{
 flex-grow:1; 
}
footer{
  background:#000000;
  color:#FFFFFF;
  height:10vh;
}
.footer_container{
  margin:0 auto;
 max-width: 1240px;
 padding:5px;
}


/* main_page  start */
.landing_page{
  margin:0px auto;
  max-width: 1240px; 
  display:flex;
  justify-content:space-around;
  align-items: left;
  
}
.left_part{
  padding-top:5vh;
  width:50vh;
}

.right_part{
  width:50%;
  padding-top:2vh;
 }
 .inof{
   font-size:18px;
   color:#000000;

 }





 /* Chat component */
 .chat-room{
  margin:0px auto;
  max-width: 1240px; 
  display:flex;
  flex-direction:column;
  align-items: left;
 }
.chat-room-header_container{
  display:flex;
  height:7vh;
  justify-content: space-between;
  background-color:#e4a825;
  padding:2vh; 
  font-size:4vh;
  color:#FFFFFF;
}

/* Chat room after header */
.chat-main-room{
  display: flex;
  min-height: 73vh;
}
.chat-main-room-left{
padding:1vh;
background:#d2cece;
width:25%;
max-height:64.2vh;
overflow-y: scroll;
}

.chat-main-room-right{
width:75%;
min-height: 73vh;
display: flex;
flex-direction:column;
}



.conversation{
  width:100%;
  background-image: url('../src/images/chat-bg.jpg');
  height:64.2vh;
  padding:1vh;
  overflow-y: scroll;
 
}
.chat-main-room-footer{
  display:flex;
  flex-direction:row;
  margin-bottom:-5px;
  
}
.text-areas{
  width:93%;
}
textarea{
  width:100%;
  resize: none;
  border:none;
  padding:1vh;
  border-bottom:3px solid #dad8d8;
  border-top:3px solid #dad8d8;
  outline: none;
}
.buttons button{
background:#9ada51;
border:none;
height:94%;
width:12vh;
border-bottom:3px solid #dad8d8;
outline: none;
}
.char_room_list{
 display: flex; 
}

/* Message component */
 .message_layout_a{
border-radius:10px;
background:#edebeb;
font-size:16px;
max-width:55%;
line-height:22px;
font-weight: normal;
background-color:#daf9f7;
}
.user_a_massages{
  display: flex;
  justify-content: space-around;
  font-size:14px;
  
}
.message_layout_header{
  display: flex;
  justify-content: space-around;
  padding:1vh;
}
.actual_message{
  padding:0vh 2vh 2vh 2vh;
}
.message_layout_b{
  border-radius:10px;
  background:#edebeb;
  font-size:16px;
  max-width:55%;
  line-height:22px;
  font-weight: normal;
  background-color:#e1dbdb;
  }
  .highlight{
    /* background-color:#e4a825; */
    background-color: #960200;
    color: white;
  }

  .highlight_current{
    background-color:#ffd046;
    color: black;
  } 
  .errorMessage{
    color:red;
  }
  .successMessage{
    color:green;
  }
  .createUserMessage{
    display: flex;
    flex-direction:row;
    line-height: 40px;
    justify-content:space-between;
  }
  .createUserMessage p{
    padding-left:10px;
  }
  /* Mobile view*/
@media screen and (max-width: 640px) {
  .header-container{
    padding-left:1vh;
    color:#FFFFFF;
    display:flex;
    margin:0 auto;
    max-width: 1240px;
  }
  .main-header{
    font-size:20px;
  }
  main{
    flex-grow:1;
    border-left:2px solid #FFFFFF;
    border-right:2px solid #FFFFFF;
   }
 .left_part{
   margin:0 auto;
   width: 90%;
 }
  .landing_page{
    display: flex;
    flex-direction: column;
  }
  
  .right_part{
    margin:0 auto;
    width: 90%;
     }
  .inof{
    border:.5px solid #FFFFFF;
    padding:5px;
  }

/* chat room */
.chat-main-room{
  display: flex;
  min-height: 73vh;
  flex-direction:column;
}

.chat-main-room-left{
  width:100%;
  padding:1vh;
  background:#d2cece;
  }
  .chat-main-room-right{
  width:100%;
  min-height: 73vh;
  display: flex;
  flex-direction:column;
  }
  .buttons button{
    height:8vh;
    width:10vh;
    }
  textarea{
      height: 52px;
      border-left:3px solid #dad8d8;
     
    }
    .message_layout_a{
      max-width:85%;
      }
    .message_layout_b{
      max-width:85%;
      }
    
}
