.pages {
  margin: 0px auto;
  max-width:1140px;
  min-height: 100vh;
  display:flex;
  border:5px solid #df9109;;
  border-radius:2.5vh;
}
.left_part{
    width:30%;
    display:flex;
    flex-direction:column;
   
}
.header_left_part{
  background-color: #df9109;
  height:6vh;
  padding:1vh;
  border-top-left-radius: 1.5vh;
  
}
.search_box{
  background-color: #ffffff;
  height:4vh;
  padding:1vh;
  text-align: center;
}
.contract_box{
background-color: #f4f2f2;
flex-grow:1;
padding:1vh;
border-bottom-left-radius: 1.5vh;
}
.right_part{
  width:70%;
  display:flex;
  flex-direction: column;
}
.header_right_part{
  background-color: #df9109;
  height:6vh;
  padding:1vh;
  border-top-right-radius: 1.5vh;
}
.right_main_part{
  background-color:#ffb84e82;
  flex-grow:1;
}
.right_footer{
  min-height:8vh;
  padding:1vh;
  background-color:#FFFFFF;
  border-bottom-right-radius: 1.5vh;
}
.imgages{
 
  border-radius: 50%;
  
}
.contcat{
  padding:5px;
}


/* Home Pgae */
header{
  background:#f58002;
  height:10vh;
}
.header-container{
  margin: 0px auto;
  max-width:1140px;
  color:#FFFFFF;
  display:flex;
}
.logos{
  width:10vh;
  height:10vh;
}
.main-header{
  line-height:10px;
  padding-left:20px;
}
main{
  /* height:80vh; */
  background-image: url('../src/images/back.JPG');
  background-size: cover;
 
}
footer{
  background:#000000;
  height:10vh;
}


/* main_page  start */
.landing_page{
  margin:0 auto;
  max-width:1140px;
  min-height: 80vh;
  display:flex;
  justify-content:space-around;
  align-items: left;
  border:2px solid #FFFFFF;

}
.left_part{
  padding-top:5vh;
  width:50vh;
}
.right_part{
  width:50%;
  padding-top:2vh;
 }
 .inof{
   font-size:18px;
   color:#0c211b;

 }